<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<meta charset="ISO-8859-1" />
<title>Master Customer</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-md-12">
				<h1>Master Customer</h1>
				<br /> <a th:href="@{/customer/form}" class="btn btn-info btn-md">
					<span class="glyphicon glyphicon-plus"></span> Add Customer
				</a> <br /> <br />
			</div>

			<div class="col-md-7">
				<table class="table table-hover table-striped">
					<thead>
						<tr>
							<th>CIF</th>
							<th>Name</th>
							<th>Address</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="cl : ${customerList}">
							<td th:text="${cl.cif}">CIF</td>
							<td th:text="${cl.name}">Name</td>
							<td th:text="${cl.address}">Address</td>
							<td><a th:href="@{/customer/form(id=${cl.id})}"> <span
									class="glyphicon glyphicon-edit"></span>
							</a> &nbsp;&nbsp; <a th:href="@{/customer/delete(id=${cl.id})}">
									<span class="glyphicon glyphicon-trash"></span>
							</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>